<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC49Fc7EpfN1n49jilnyCzIpF76YFl5ym8</string>
	<key>GCM_SENDER_ID</key>
	<string>82501261467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sustainx.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sustainx-9d820</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainx-9d820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82501261467:ios:d6fe8386720d13b684ce3e</string>
</dict>
</plist>